<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!--Section-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 first">
                <img src="img/Image.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ullam molestias dolore eligendi, nulla quod harum fugit officia quo, aperiam veritatis, laboriosam illo eveniet dicta tempore ipsum numquam laudantium consequatur architecto. Eaque esse expedita ipsum voluptas, ipsam nulla beatae excepturi deserunt perspiciatis minima, architecto nam doloremque similique odit necessitatibus! Rem.</p>
            </div>
            <div class="col-md-6 last">
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid modi neque unde</a></li>
                    <li><a href="##">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid modi neque unde</a></li>
                    <li><a href="###">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid modi neque unde</a></li>
                    <li><a href="####">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid modi neque unde</a></li>
                    <li><a href="#####">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid modi neque unde</a></li>
                </ul>
                <div class="button">
                 <button class="btn">Read More</button>
                 <button class="btn">Comment</button>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    
</section>








</body>
</html>